*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
# Ignorar imagens de upload/teste que deixam o repositório pesado

# Ignorar o banco de dados local SQLite (caso use e não queira subir os dados)
/database/database.sqlite

# Garantir que dependências pesadas fiquem de fora (padrão do Laravel)
/vendor/
/node_modules/
/public/build/
.env